<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Gymso 
    </title>
    <link rel="stylesheet" href="css/Homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <header>
        <nav class="header-navbar">
            <h1> <a href="index.html">Gymso</a> </h1>
                <section class="nav-links" id="nav-links">
                    <i class="fa fa-close" id="hide-menu" ></i> 
                    <ul>
                        <li> <a href="#Home">Home</a> </li>
                        <li> <a href="#About-us">About us</a> </li>
                        <li> <a href="#Classes">Classes</a> </li>
                        <!-- <li> <a href="#Schedules">SCHEDULES</a> </li> -->
                        <li> <a href="#Contact">contact</a> </li>
                    </ul>
                </section>
                <section class="group1">
                  <a href="../Log-In/Log-in.html" class="login">Login</a>
                  <i class="material-icons" id="show-menu" >menu</i>
               </section>
        </nav>

        <section class="text-box">
            <h2>new way to build a healthy lifestyle!</h2>
            <h1>UPGRADE YOUR BODY AT <br> GYMSO </h1>
            <a href="" class="get-started">GET STARTED</a>
            <a href="#About-us" class="learn-more" id="learn-more">LEARN MORE</a>
        </section>
    </header>
    <main>
        <!-- Home -->
        <section class="Home" id="Home">

            <article class="sign-up">

                <h1>New to the gymso?</h1> 
                <br>

                <h2>Your membership is up to 2 months FREE 
                    <br>

                    ($62.50 per month)
                </h2>
                <br>

                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    <br> Quam labore repellant cum alias aspernatur beaten 
                    <br> placeat natur gusto exercitation amet.
                </p>
                <br>

                <button><a href="">BECOME A MEMBER TODAY</a></button>

            </article>

            <article class="work-hours">

                <h1>Working hours</h1>
                <br>

                <p class="day">Sunday : Closed</p>
                <br>

                <p class="day">Monday - Friday
                    <br>
                    <p class="hours">7:00 AM - 10:00 PM</p>
                </p>

                    <br>

                <p class="day">Saturday
                    <br>
                    <p class="hours">6:00 AM - 4:00 PM</p> 
                </p>

            </article>

        </section>
        <section class="about-us" id="About-us">

            <article class="text">

                <h1>Hello, we are Gymso</h1>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ab pariatur incidunt quidem labore distinctio 
                explicabo alias reiciendis enim quaerat quod in aspernatur
                provident ad itaque laudantium perspiciatis tenetur autem dolorum 
                st sunt, repellendus voluptatum! 
                <br>

                <br>

                bandit's sequi repudiandae voluptate
                nobis debitis ex quash voluptate vera presenting alias,
                molestias ipsum distinctio?
                </p>
            </article>

            <section class="container container-2">

                <div class="image-2"></div>

                <div class="description">

                    <h1>Prit</h1>

                    <h2>Personal Trainer</h2>

                    <a href="" class="twitter"> <i class="fa fa-twitter"></i> </a>

                    <a href="" class="instagram"> <i class="fa fa-instagram"></i> </a>

                    </div>
            </section>

        </section>
            
        <section class="training-classes" id="Classes">

            <div class="head">
                <h1>Get A Perfect Body</h1>
                <h2>Our Training Classes</h2>
            </div>
               
            <section class="carts">

                <article class="box box-1">

                    <div class="img"></div>

                    <div class="info">

                        <h1>Yoga</h1>

                        <h2>Trained by <span> - Bella</span></h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                        <div class="price">$50</div>

                    </div>

                </article>

                <article class="box box-2">

                    <div class="img"></div>

                    <div class="info">

                        <h1>Areobic</h1>

                        <h2>Trained by <span> - Mary</span></h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

                        <div class="price">$66</div>

                    </div>

                </article>

                <article class="box box-3">

                    <div class="img"></div>

                    <div class="info">

                        <h1>Cardio</h1>

                        <h2>Trained by <span> - Cathe</span></h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

                        <div class="price">$75</div>

                    </div>

                </article>
            </section>
            <p class="deal text-center"><b>The deal ends in </b><span id="demo"></span></p>
            <br>
            <div ng-app="myApp" ng-controller="myCtrl">
                <h2>Upcoming Events</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Event</th>
                            <th>RSVP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="event in events">
                            <td>{{event.date}}</td>
                            <td>{{event.name}}</td>
                            <td>
                                <button ng-click="rsvp(event)" class="rs">RSVP</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>

        <section class="contact" id="Contact">
            <div class="form">
                <h2>Feel free to ask anything</h2>
                <form action="post">
                    <input type="text" name="" id="" placeholder="Name"> 
                    <br>
                    <input type="email" name="" id="" placeholder="E-mail">
                    <br>
                    <textarea name="content" id="" cols="30" rows="10" placeholder="Message" title="Give Your Advice To Us"></textarea>
                    <br>
                    <button type="submit" class="send-message" >Send Message</button>
                </form>
            </div>  
            <p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51808.45362711648!2d51.34593993124999!3d35.75010789999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e06bf3cdf9ee9%3A0x2278522d4839bf66!2sSalek%20Gym!5e0!3m2!1sen!2s!4v1657648312776!5m2!1sen!2s" 
                
                style="border:0;" 
                allowfullscreen=""
                referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </p>
        </section>
    </main>
    <footer>
       <section class="About-us">
            <h2>About Us</h2>
            <ul>
                <li><a href="">BLog</a></li>
                <li><a href="">Demo</a></li>
                <li><a href="">Customers</a></li>
                <li><a href="">Investors</a></li>
                <li><a href="">Terms of Service</a></li>
            </ul>
        </section>
        <section class="Contact-us">
            <h2>Contact Us</h2>
            <ul>
                <li><a href="">Jobs</a></li>
                <li><a href="">Support</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Sponsorships</a></li>
            </ul>
        </section>
        <section class="Company">

            <h2>Company</h2>

            <ul>
                <li><a href="">Our Services</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Affiliate Program</a></li>
                <li><a href="">Products</a></li>
            </ul>
        </section>
        <section class="social-media">
            <h2>Social Media</h2>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-youtube-play"></i></a>
        </section>
    </footer>
</body>
<script src="js/script.js"></script>
</html>